.workout-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.workout-image {
    width: 100px;
    height: auto;
    margin: 0 10px 0 0;
    border: none;
}

.workout-image p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.workout-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.workout-info {
    color: #666;
    font-size: 16px;
    margin: 0;
}
